/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@700&family=Roboto+Condensed:wght@700&display=swap'); */

mat-toolbar {
  background-color: transparent;
}

.logo {
  font-size: x-large;
}

.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}

mat-toolbar > * {
  transition: 0.5s ease all;
}

mat-toolbar > *:hover {
  background-color: rgb(211, 211, 211);
}
